<!DOCTYPE html>
<html lang="en">
    <head>
    <% include partials/head %> 
    </head>
    <body>
    <% include partials/menu %>

    <div class="container-fluid">
        <h1>About Me</h1>
        <blockquote class="blockquote">
            <p class="mb-0">Tahrin Maruf</p>
        </blockquote>
        <p>Since graduating in 2017 with B.Comm focused in Informaton Systems from
            Memorial University of Newfoundland, I have been working with various
            startups in various technical product based role ranging from Senior Product 
            Manager to Chief Product Officer.   
        </p>
        <br />  
        <br />

            <img src="/img/picture-1.jpg" width="100" height="100">  
    </div>
    
    </body>
    <% include partials/script %>
    </html>