<!DOCTYPE html>
<html lang="en">
  <head>
  <% include partials/head %> 
  </head>
  <body>
  <% include partials/menu %>
  <div class="container-fluid">
    <h1>Welcome</h1>
      <blockquote class="blockquote">
        <p class="mb-0">Welcome to my Express/EJS Portfolio page. 
          I will be showcasing my work here using these stacks.</p>
      </blockquote>
      <br />  
      <br />
    
  </div>
  <div class="container-fluid text-center">    
    <div class="jumbotron jumbotron-fluid row">
      <div class="col-sm-4"> 
        <h2>Mission Statement</h2>
        <p>I have always believed using technology in the right way can solve world's biggest problems.
          <b>Checkout my startup at: </b>
          <br />
          <br />
          <br />
        </p>
        <a href="https://www.corsphere.com">
          <img src="/img/corsphere-1.png" width="100" height="100">
          </a>
      </div>
      <div class="col-sm-4"> 
        <h2>About Me</h2>
        <p>I have been working in the Canadian tech industry in variety of roles after graduating with
          a Bachelors of Commerce in 2017 from Memorial University of Newfoundland.
          <b>Find out More below:</b>
        </p>  
          <a href="/about">
            <img src="/img/picture-1.jpg" width="100" height="100">
            </a>
  
      </div>
      <div class="col-sm-4"> 
        <h2>My Experiences</h2>
        <p>I have worked mainly as a Product Manager and Chief Product Officer for various startups along with
          managing both technical and business goals. <b>You can check out more below.</b>
        </p>
        <a href="/myprojects">
          <img src="/img/Odyssey.jpg" width="150" height="100">
          </a>
      </div>
    </div>
  </div>
  </body>
  <% include partials/script %>
</html>