<!DOCTYPE html>
<html lang="en">
    <head>
    <% include partials/head %> 
    </head>
    <body>
    <% include partials/menu %>

    <div class="container-fluid">
        <h1>Login</h1>
        <br />  
        <br />

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <br />
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <br />
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Phone" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <br />
          <a class="btn btn-primary" href="/" role="button">Submit</a>
    </div>
    
    </body>
    <% include partials/script %>
    </html>