<!DOCTYPE html>
<html lang="en">
    <head>
    <% include partials/head %> 
    </head>
    <body>
    <% include partials/menu %>

    <div class="container-fluid">
        <h1>Projects</h1>
        <blockquote class="blockquote">
            <p class="mb-0">All the Projects I worked on will slowly be updated here.
                List is currently incomplete
            </p>
        </blockquote>
        <br />  
        <br />

        <!-- This is card from bootstrap modified code-->
        <div class="card mb-3">
            <img class="card-img-top" src="/img/corsphere_work.jpg" width="50%" height="50%" alt="Card image cap">
            <div class="card-body">
                <br />
            <h2 class="card-title">#1 Co-founder and CPO at CORSphere</h2> <h4>June 2021 - Present</h4>
                <blockquote class="blockquote">
                    <p class="mb-0">We aim to make it simple for your team to capture ground level maintenance data 
                        and keep everyone in the loop to minimize your asset’s downtime and reduce unplanned work by integrating 
                        with your existing system.
                    </p>
                </blockquote>
            </div>
          </div>

          <br />
          <br />    
          <br />

          <div class="card mb-3">
            <img class="card-img-top" src="/img/atls3.jpg" width="40%" height="35%" alt="Card image cap">
            <div class="card-body">
                <br />
            <h2 class="card-title">#2 Chief Product Officer (CPO) at PolyUnity</h2> <h4>Sept 2018 - June 2021</h4>
                <blockquote class="blockquote">
                    <p class="mb-0">WE HELP HEALTHCARE PROVIDERS
                        DESIGN, ACCESS & PRODUCE WHAT YOU NEED, ON-DEMAND.
                    </p>
                </blockquote>
            </div>
          </div>
    
    </body>
    <% include partials/script %>
    </html>