<!DOCTYPE html>
<html lang="en">
    <head>
    <% include partials/head %> 
    </head>
    <body>
    <% include partials/menu %>

    <div class="container-fluid">
        <h1>Services I currently offer</h1>
        <br />
        <br />  
        <blockquote class="blockquote">
            <p class="mb-0"><i>"I believe technology changes every few years so just being expert in
                one language or paradigm is not enough anymore. Rather what I bring to the table is the
                innovative thought process throughout every cycle of software production."
            </i></p>
        </blockquote>
        <br />  
        <br />

            <!-- Using modified list from bootstrap documentation-->
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">
                  Current Services
                </a>
                <a href="#" class="list-group-item list-group-item-action">User and Market Research for a product</a>
                <a href="#" class="list-group-item list-group-item-action">Product Design - UI/UX with Figma</a>
                <a href="#" class="list-group-item list-group-item-action">Prouct Roadmap Design and Management</a>
                <a href="#" class="list-group-item list-group-item-action disabled">Javascript based Full stack websites</a>
              </div>
    </div>
    
    </body>
    <% include partials/script %>
    </html>